.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 100;
  margin: 5;
  text-align: center;
}

Input {
  padding: 10px;
  font-size: 14pt;
  width: 90vw;
}

img {
  max-width: 90vw;
  max-height: 80vh;
  vertical-align: top;
  border: 10px;
  border-color: black;
}

body {
  background-image: url("/site_bg_overlay.png"),
    linear-gradient(white, rgb(241, 243, 246));
  background-position: right;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

main {
  font-family: "Cutive Mono", monospace;
  font-size: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  line-height: 1.8;
  grid-templace-columns: 7em auto;
  overflow-y: hidden;
  overflow-x: hidden;
  justify-content: center;
}
